# 10. DataFrame Methods More

In [11]:
import pandas as pd

pd.options.display.max_columns = 100
the_table = pd.read_csv('data/college.csv', index_col='instnm')
the_table.head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

## Methods for handling missing values
Pandas provides the following methods to handle missing values:

* **`isna`** - Returns a Series of booleans based on whether each value is missing or not
* **`notna`** - Exact opposite of **`isna`**
* **`fillna`** - fills missing values in a variety of ways
* **`dropna`** - Drops the missing values from the Series

### Finding the number of missing values in each column

In [12]:
# find the number of non-missing values per column
the_table.count().head()

city         7535
stabbr       7535
hbcu         7164
menonly      7164
womenonly    7164
dtype: int64

In [13]:
the_table.isna().head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
the_table.isna().sum().head()

city           0
stabbr         0
hbcu         371
menonly      371
womenonly    371
dtype: int64

### Find the percentage of missing values by calling the mean method

In [16]:
the_table.isna().mean()

city                  0.000000
stabbr                0.000000
hbcu                  0.049237
menonly               0.049237
womenonly             0.049237
relaffil              0.000000
satvrmid              0.842734
satmtmid              0.841274
distanceonly          0.049237
ugds                  0.087724
ugds_white            0.087724
ugds_black            0.087724
ugds_hisp             0.087724
ugds_asian            0.087724
ugds_aian             0.087724
ugds_nhpi             0.087724
ugds_2mor             0.087724
ugds_nra              0.087724
ugds_unkn             0.087724
pptug_ef              0.090511
curroper              0.000000
pctpell               0.091042
pctfloan              0.091042
ug25abv               0.108427
md_earn_wne_p10       0.148905
grad_debt_mdn_supp    0.004247
dtype: float64

## Sorting with `sort_values`
The **`sort_values`** DataFrame method sorts the DataFrame by one or more columns. Pass the **`by`** parameter a column name or list of column names to sort. By default the sorting takes place in ascending manner.

In [18]:
the_table.sort_values(by='city').head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Angeles Institute,ARTESIA,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,114.0,0.0175,0.2193,0.3860,0.3158,0.0000,0.0263,0.0175,0.0088,0.0088,0.0000,1,0.6275,0.8138,0.5429,NaN,16850
Northern State University,Aberdeen,SD,0.0,0.0,0.0,0,480.0,475.0,0.0,1693.0,0.8435,0.0230,0.0319,0.0112,0.0207,0.0030,0.0219,0.0425,0.0024,0.1872,1,0.2272,0.4303,0.1766,33600,24847
Presentation College,Aberdeen,SD,0.0,0.0,0.0,1,440.0,480.0,0.0,705.0,0.6525,0.1163,0.0780,0.0128,0.0156,0.0000,0.0284,0.0142,0.0823,0.2865,1,0.4829,0.7560,0.3097,35900,25000
Grays Harbor College,Aberdeen,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,1121.0,0.7110,0.0169,0.0946,0.0214,0.0312,0.0054,0.0937,0.0009,0.0250,0.1820,1,0.4530,0.1502,0.5087,27000,11490
McMurry University,Abilene,TX,0.0,0.0,0.0,1,450.0,460.0,0.0,953.0,0.5561,0.1847,0.2193,0.0126,0.0105,0.0010,0.0105,0.0042,0.0010,0.1123,1,0.4728,0.6601,0.1807,37500,25000

### Simultaneously sort two or more columns
Use a list

In [20]:
the_cols = ['stabbr', 'ugds']
func_state_ugds_sort = the_table.sort_values(by=the_cols)
func_state_ugds_sort[the_cols].head()

                          stabbr   ugds
instnm
Alaska Bible College          AK   27.0
Alaska Christian College      AK   68.0
Ilisagvik College             AK  109.0
Alaska Pacific University     AK  275.0
Alaska Career College         AK  479.0

Let's select just the state of Oklahoma to verify that it too is sorted by undergraduate population.

In [21]:
func_filt = func_state_ugds_sort['stabbr'] == 'OK'
func_state_ugds_sort.loc[func_filt, the_cols].head()

                                     stabbr  ugds
instnm
Hollywood Cosmetology Center             OK   6.0
Claremore Beauty College                 OK  15.0
Northwest Technology Center-Fairview     OK  15.0
Institute of Hair Design                 OK  19.0
Shawnee Beauty College                   OK  20.0

## Sort multiple columns in different directions
The **`ascending`** parameter may be passed a list of booleans that correspond to the list of column names in the **`by`** parameter. The following sorts by state and then by undergraduate population from greatest to least.

In [22]:
the_table.sort_values(by=the_cols, ascending=[True, False]).head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,0.5747,0.0358,0.0761,0.0778,0.0653,0.0086,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
University of Alaska Fairbanks,Fairbanks,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,5536.0,0.4259,0.0210,0.0522,0.0126,0.1284,0.0027,0.0401,0.0110,0.3060,0.3887,1,0.2263,0.2550,0.4519,36200,19355
Charter College-Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,3256.0,0.4373,0.0599,0.3093,0.0123,0.0405,0.0577,0.0436,0.0000,0.0393,0.0000,1,0.8307,0.7503,0.5472,39200,13875
University of Alaska Southeast,Juneau,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,1428.0,0.4748,0.0119,0.0623,0.0357,0.1029,0.0147,0.0686,0.0049,0.2241,0.5112,1,0.1769,0.1996,0.5550,37400,16875
AVTEC-Alaska's Institute of Technology,Seward,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,889.0,0.5388,0.0112,0.0427,0.0157,0.1879,0.0112,0.0529,0.0000,0.1395,0.6817,1,0.0737,0.0664,0.7127,33500,PrivacySuppressed

## Sort by the Index
The DataFrame may be sorted by its index with the **`sort_index`** method.

In [23]:
the_table.sort_index(ascending=False).head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
eClips School of Cosmetology and Barbering,Cape Girardeau,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,0.1446,0.8554,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,1,0.9496,0.9832,0.3772,PrivacySuppressed,9500
duCret School of Arts,Plainfield,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,41.0,0.4634,0.1951,0.1463,0.0732,0.0000,0.0000,0.0976,0.0,0.0244,0.4146,1,0.4375,0.5000,0.1250,PrivacySuppressed,PrivacySuppressed
Zane State College,Zanesville,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,2063.0,0.6995,0.0296,0.0029,0.0029,0.0029,0.0005,0.0218,0.0,0.2399,0.5730,1,0.3645,0.3434,0.3185,23800,13960.5
Z Hair Academy,Lawrence,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,95.0,0.9368,0.0000,0.0211,0.0000,0.0000,0.0105,0.0211,0.0,0.0105,0.0000,1,0.7286,0.6571,0.1525,NaN,10500
Yukon Beauty College Inc,Yukon,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,25.0,0.8000,0.0400,0.0000,0.0000,0.1200,0.0400,0.0000,0.0,0.0000,0.0000,1,0.9259,0.8148,0.4706,PrivacySuppressed,PrivacySuppressed

## Finding the index of the maximum of each column with `idxmax`
The **`idxmax`** method is quite powerful and returns the index value for the maximum of each column. It does not work with string columns. The following selects just the numeric columns and then calls the **`idxmax`** method.

In [24]:
the_table.select_dtypes('number').idxmax()

hbcu                                     Alabama A & M University
menonly         Yeshiva Ohr Elchonon Chabad West Coast Talmudi...
womenonly                                          Judson College
relaffil                                       Amridge University
satvrmid                       California Institute of Technology
satmtmid                       California Institute of Technology
distanceonly                                   Amridge University
ugds                                University of Phoenix-Arizona
ugds_white                 Mr Leon's School of Hair Design-Moscow
ugds_black                     Velvatex College of Beauty Culture
ugds_hisp                 Thunderbird School of Global Management
ugds_asian                    Cosmopolitan Beauty and Tech School
ugds_aian                       Haskell Indian Nations University
ugds_nhpi                                 Palau Community College
ugds_2mor                                           LIU Brentwood
ugds_nra         California University of Management and Sciences
ugds_unkn       Le Cordon Bleu College of Culinary Arts-San Fr...
pptug_ef                  Thunderbird School of Global Management
curroper                                 Alabama A & M University
pctpell                                  MTI Business College Inc
pctfloan                                   ABC Beauty College Inc
ug25abv                            Dongguk University-Los Angeles
dtype: object

### Interpretation of results
A Series is returned with the old column names in the index and the maximum index as the values. For instance, the school with the highest average SAT Math scores is California Institute of Technology. The school with the highest percentage of undergraduate population above 25 years of age is Dongguk University-Los Angeles.

## Some Series methods not available in DataFrames

### No `str` or `dt` accessor

### No `unique` or `value_counts`

## Hidden String Columns
Both the `MD_EARN_WNE_P10` (median earnings after 10 years of enrollment) and `GRAD_DEBT_MDN_SUPP` columns (median debt of completers) were read in as strings, though they both look like they are numeric.

In [25]:
the_table[['md_earn_wne_p10', 'grad_debt_mdn_supp']].dtypes

md_earn_wne_p10       object
grad_debt_mdn_supp    object
dtype: object

## look at raw values
They are strings!

In [26]:
the_table['md_earn_wne_p10'].values[:5]

array(['30300', '39700', '40100', '45500', '26600'], dtype=object)

## Sort descending to find alphabetical strings

In [27]:
the_table['md_earn_wne_p10'].sort_values(ascending=False).head()

instnm
Sharon Regional Health System School of Nursing    PrivacySuppressed
Northcoast Medical Training Academy                PrivacySuppressed
Success Schools                                    PrivacySuppressed
Louisiana Culinary Institute                       PrivacySuppressed
Bais Medrash Toras Chesed                          PrivacySuppressed
Name: md_earn_wne_p10, dtype: object

## Coercing to missing values
Use the pandas **function** **`to_numeric`** to coerce to numeric. This forces any non-numeric data to **`NaN`**.

In [28]:
the_table['md_earn_wne_p10'] = pd.to_numeric(the_table['md_earn_wne_p10'], errors='coerce')
the_table['grad_debt_mdn_supp'] = pd.to_numeric(the_table['grad_debt_mdn_supp'], errors='coerce')

the_table[['md_earn_wne_p10', 'grad_debt_mdn_supp']].dtypes

md_earn_wne_p10       float64
grad_debt_mdn_supp    float64
dtype: object

# Extra reading

### Dropping Columns
The **`drop`** method drops columns passed to the **`columns`** parameter as either a string or a list of strings. Let's see examples of dropping a single column and then multiple columns:

In [29]:
the_table.drop(columns='city').head()

,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

In [30]:
the_table.drop(columns=['city', 'stabbr', 'satvrmid']).head()

,hbcu,menonly,womenonly,relaffil,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,1.0,0.0,0.0,0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,0.0,0.0,0.0,0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,0.0,0.0,0.0,1,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,0.0,0.0,0.0,0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,1.0,0.0,0.0,0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

### Renaming Columns
The **`rename`** columns method is used to rename columns. Pass a dictionary to the **`columns`** parameter with keys equal to the old column name and values equal to the new column name.

The college dataset has lots of columns with abbreviations that are not immediately recognized. We replace a couple of these columns with more explicit names.

In [31]:
the_table.rename(columns={'hbcu': 'Historically Black Colleges and Universities',
                       'stabbr': 'State Abbreviation'}).head()

,city,State Abbreviation,Historically Black Colleges and Universities,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

### The `nunique` method
The **`nunique`** method returns the number of unique values for each column. It defaults to ignoring missing values. It technically is an aggregation method as it returns a single value for each column.

In [32]:
the_table.nunique()

city                  2514
stabbr                  59
hbcu                     2
menonly                  2
womenonly                2
relaffil                 2
satvrmid               163
satmtmid               167
distanceonly             2
ugds                  2932
ugds_white            4397
ugds_black            3242
ugds_hisp             2809
ugds_asian            1254
ugds_aian              601
ugds_nhpi              363
ugds_2mor              957
ugds_nra               920
ugds_unkn             1517
pptug_ef              3420
curroper                 2
pctpell               4422
pctfloan              4155
ug25abv               4285
md_earn_wne_p10        597
grad_debt_mdn_supp    2037
dtype: int64

## Dropping duplicate rows with `drop_duplicates`
The default call to the **`drop_duplicates`** method returns only unique rows of the DataFrame. It does not use the index value in its search for duplicates. If two or more row are duplicated, the first row is kept. 

Let's see if there are any duplicate rows in the college dataset.

In [33]:
the_table.shape

(7535, 26)

In [34]:
the_table.drop_duplicates().shape

(7476, 26)

Interestingly, there are some rows that have an exact duplicate.

### Drop duplicates based on a subset of columns
The **`drop_duplicates`** method gives you the **`subset`** parameter to check for duplicates within the columns passed to it. The following returns a single row for each state.

In [35]:
the_table.drop_duplicates(subset='stabbr').head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,84.0,0.7976,0.1310,0.0714,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1,0.7857,0.9375,0.6569,NaN,20992.0
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,0.5747,0.0358,0.0761,0.0778,0.0653,0.0086,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500.0,19449.5
Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,0.3162,0.4405,0.0763,0.0017,0.0207,0.0046,0.0373,0.0000,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600.0,9500.0
Pima Medical Institute-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,892.0,0.2186,0.0247,0.5504,0.0157,0.1222,0.0000,0.0348,0.0000,0.0336,0.0000,1,0.5900,0.6630,0.5387,28200.0,8708.0

In [36]:
the_table.drop_duplicates(subset='stabbr').shape

(59, 26)

The data includes several territories and not just the 50 states.

# Exercises
Use the college dataset for the first few problems.

### Problem 1
<span  style="color:green; font-size:16px">Find the number of missing values for each row.</span>

In [ ]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">What percentage of rows have more than 5 missing values?</span>

In [ ]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Read the documentation on the `dropna` method. What is the shape of the returned DataFrame when called with the defaults? Call it again except only drop rows if `ugds` is missing. What is the shape of this DataFrame?</span>

In [ ]:
# your code here

### Problem 4
<span  style="color:green; font-size:16px">Create a new boolean column in the college named 'Verbal Higher' that is True for every college that has a verbal than math SAT score. Find the mean of this new column. Why does this number look suspiciously low?</span>

In [ ]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Find the real percentage of schools with higher verbal than math SAT scores.</span>

In [ ]:
# your code here